<%- include('../partials/head.ejs') %>
</head>
<%- include('../partials/navigation.ejs') %>
<h2>Admin | Products</h2>
<%- include('../shop/product-list.ejs') %> 
<%- include('../partials/foot.ejs')%>
