<%- include('partials/head.ejs')%> <%- include('partials/navigation.ejs')%>
<h2>An error occured</h2>
<p>We are working hard to fix this error. Sorry for the inconvinience. Please try again later.</p>
<%- include('partials/foot.ejs')%>
