
<main class="main-container">
  <h2>My products</h2>
  {{#if hasProducts}}
    <ul class="grid">
      {{#each products}}
        <li>{{./title}}</li>
      {{/each}}
    </ul>
  {{else}}
      <p>No Products</p>
  {{/if}}
  
</main>
