doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet",href="/css/main.css")
    link(rel="stylesheet",href="/css/shop.css")
  body
    header.main-header 
      nav.main-header__nav 
        ul.main-header__item-list 
          li.main-header__item 
            a.main-header__link.active(href="/") Shop
          li.main-header__item 
            a.main-header__link(href="/admin/add-product") Add product
    main.main-container 
      h2 My products 
      if products.length > 0
        ul.grid
          each product in products 
            li.card.product-item 
              header.card__header
                h3.product__title #{product.title}
              .card-image
                img(src="https://picsum.photos/536/354",alt="product")
              .card__content 
                h2.product__price $23.99
                p.product__desc A very interesting product that is of the best quality 
              .card__actions 
                button.btn Add to Cart
      else 
        p No products found