<%- include('includes/head.ejs') %> 
<%- include('includes/navigation.ejs') %>
<main class="main-container">
  <h1>My products</h1>
  <% if (products.length > 0) { %>
  <ul>
    <% products.forEach(product => { %>
    <li class="card product-item">
      <header class="card__header">h3.product__title #{product.title}</header>
      <div class="card-image">
        <img src="https://picsum.photos/536/354" alt="product" />
      </div>
      <div class="card__content">
        <h2 class="product__price">123.99</h2>
        <p class="product__desc">
          A very interesting product that is of the best quality
        </p>
      </div>

      <div class="card__actions">
        <button class="btn">Add to Cart</button>
      </div>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <p>No products found</p>
  <% } %>
</main>
<%- include('includes/foot.ejs')%>
