.product-form {
  padding: 1rem;
  font-size: 1.2rem;
  width: 50%;
  margin: 0 auto;
}

.product-form__control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.product-form__control label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.product-form__control input {
  border: none;
  border-bottom: 3px groove;
}