.cart-items {
  list-style: none;
  padding: 0;
  width: 584px;
  margin: 0 auto;
  
}

.cart-item {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .25);
  padding: .5rem 1rem;
}

.cart-item__body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}

.cart-item__body p{
  margin: .2rem 0;
}

.cart-item__actions {
  display: flex;
  align-items: center;
}

.price {
  color: rgb(55, 100, 184);
  font-weight: 600;
}