.form {
  padding: 1rem;
  font-size: 1.2rem;
  width: 50%;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-control > label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control > input {
  border: none;
  border-bottom: 3px groove;
}

.form-control > textarea {
  resize: none;
  border: 3px groove;
}

.form-control.invalid > label {
  color: red;
}

.form-control.invalid > input {
  border-color: red;
}