body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  color: rgb(55, 100, 184);
  text-align: center;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(55, 100, 184);
}

.main-header__nav {
  display: flex;
  justify-content: space-between;
}

.main-header__item-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-header__item {
  margin: 0 1rem;
  padding: 1rem;
}
.main-header__link {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.main-header__link.active {
  cursor: default;
}

.main-header__link:active,
.main-header__link:hover,
.main-header__link.active {
  color: rgb(135, 253, 0);
}

.main-container {
  padding: 0 1rem;
}

.btn {
  background-color: rgb(55, 100, 184);
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
}

.btn:hover,
.btn:active {
  background-color: white;
  color: rgb(55, 100, 184);
}

.user-messages {
  display: flex;
  flex-direction: column;
}

.user-messages > .msg {
  padding: 0.3rem;
  background-color: rgb(194, 209, 250);
  border-radius: 3px;
}

.user-messages > .error {
  background-color: rgb(255, 214, 214);
  color: red;
}
