.main-container {
  display: flex;
  flex-direction: column;
  width: 584px;
  max-width: 100%;
  margin: 0 auto;
}

.main-container img {
  display: inline-block;
  max-width: 100%;
}

.main-container p {
  color: rgb(55, 100, 184);
  font-weight: 600;
}

.product__info {
  display: flex;
  justify-content: space-between;
  width: 584px;
  max-width: 100%;
}