.main-container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.grid {
  list-style: none;
  padding: 0;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 2rem;
}

.card {
  background-color: #f0f0f0;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.card-image img {
  display: inline-block;
  max-width: 100%;
}

.card__actions {
  display: flex;
  justify-content: space-around;
}

.card__actions form {
  display: inline-block;
}

.card__actions a {
  text-decoration: none;
  font-weight: 500;
  align-self: flex-start;
}
